<div class="tabla-categorias">
    <div class="row justify-content-between">
        <div class="col-4">
            <h4>Codigo</h4>
        </div>
        <div class="col-4">
            <h4>Fecha de compra</h4>
        </div>
        <div class="col-4">
            <h4>Valor</h4>
        </div>
    </div>
<br>
<% @pedidos.each do |pedido| %>
    <div class="row justify-content-between fila">
        <div class= "col-4"><%= pedido.codigo %></div>
        <div class= "col-4"><%= pedido.created_at.strftime(" %d-%m-%y") %></div>
        <div class= "col-4"><%= pedido.total %></div>
    </div>
<% end %>