<h1>Lista de Productos</h1>
<br>
<% @todos_los_productos.each do |producto| %>
<div class="card" style="width: 18rem;">
    <%= image_tag producto.imagenes.first, class: 'card-img-top w-100' %>
  
  <div class="card-body">
    <h5 class="card-title"><%= producto.nombre %></h5>
   <%= link_to 'Agregar al carro', agregar_producto_path(producto), class: 'btn btn-primary', method: :post %>
   
  </div>
</div>
<% end %>