<h1 class="titulo-seccion">Productos registrados</h1>

<%= link_to nuevo_producto_path, class:"btn btn-success boton-crear-derecha" do %>
<i class="bi bi-plus"></i>
Agregar nuevo producto
<% end %>

<h5>Activos</h5>
    <%= render 'tabla_productos', productos: @productos_activos %>
<br>
<h5>Inactivos</h5>
    <%= render 'tabla_productos', productos: @productos_inactivos %>